{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About | WW1 Soldiers From Burnley</title>
    <link rel="stylesheet" type="text/css" href="{% static "soldiers_viewer/app.css" %}">
  </head>

  <body>
    {% load bootstrap4 %}
    {% bootstrap_css %}

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <a class="navbar-brand" href="/">Burnley Soldiers in the First World War</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/map">Map</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row mt-4">
        <div class="col-sm-8 offset-sm-2">
          <h4>About</h4>
          <p>The data for this page is gathered from <a href="http://www.burnleyinthegreatwar.info/">Burnley In The Great War</a>, which is an excellent and useful site. I thought I'd make the data a little easier to browse and search through.</p>
          <p>If you have questions about particular soldiers, or want to submit or correct information, you'd be best contacting the people who run Burnley In The Great War.</p>
          <p>The locations shown on the map for each soldier are approximate, based on modern maps. Lancashire has changed a bit since WW1, so not all the soldiers' addresses can be easily put on the map.</p>
          <p>If you've got suggestions for this site, drop me an email at simonturner34(at)gmail.com</p>
        </div>
      </div>
    </div>
  </body>
</html>
