{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WW1 Soldiers From Burnley</title>
    <link rel="stylesheet" href="{% static "soldiers_viewer/app.css" %}">
  </head>
  <body id="page">
    {% load bootstrap4 %}
    {% bootstrap_css %}

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type='text/javascript'>
      var soldiers = {{ soldiers|safe }};
      var current_page = 0;
      var query = '';
      var pages = {{ pages|safe }};
    </script>

    <div id="app">
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="/">Burnley Soldiers in the First World War</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
        <div class="form-row my-2 my-lg-0">
          <div class="col">
            <input v-on:keyup.enter="getSearchResults(query, 0)" v-model="query" id="search" class="form-control mr-sm-2 my-2 my-sm-0" type="text">
          </div>
          <div class="col">
            <button v-on:click="getSearchResults(query, 0)" id="search-btn" class="btn btn-primary my-2 my-sm-0" >Search</button>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div v-for="soldier in soldiers" class="card mt-2">
              <div class="card-body">
                <h5 class="card-title">[[ soldier.rank ]] [[ soldier.other_names ]] [[ soldier.surname ]]</h5>
                <p class="card-text">
                  Number: [[ soldier.soldier_number ]]<br>
                  Regiment: [[ soldier.regiment ]]<br>
                  Address: [[ soldier.address ]]
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 mb-2">
          <div class="col-sm">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" name="button" class="btn btn-secondary" v-on:click="getSearchResults(query, 0)">First</button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button v-for="page in pages" v-bind:class="{ 'btn-primary': page == current_page, 'btn-secondary': page != current_page }" type="button" name="button" class="btn" v-on:click="getSearchResults(query, page)">[[ page + 1 ]]</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script>
      var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            soldiers: soldiers,
            query: query,
            current_page: current_page,
            pages: pages
        },
        methods: {
          getSearchResults(query, page) {
            this.query = query;
            this.current_page = page;
            fetch('/search?q=' + query + '&p=' + page)
            .then(response => response.json())
            .then(jsonSoldiers => {
                this.soldiers = jsonSoldiers.soldiers;
                this.pages = jsonSoldiers.pages;
            });
          }
        },
      });
    </script>
  </body>
</html>
